.about-us {
  padding: 2rem 0;
}

.about-us__wrapper {
  color: $whiteColor;
}

.about-us__box {
  line-height: 1.5;
  margin-bottom: 3rem;
  padding: 0 0.5rem;

  @media (min-width: $mediumWidth) {
    margin-bottom: 4.5rem;
    padding: 0;
  }
}

.section__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1.5;
  margin: 0 0 1.5rem;
}

.about-us__list {
  margin: 0;
  padding: 0;

  li {
    margin: 0.5rem 0;
  }
}