.hero {
  padding: 12rem 0 6rem;
}

.hero__wrapper {
  color: $whiteColor;
  @include flex(column, center, center);
  text-align: center;

  p {
    font-size: 2rem;
  }
}

.hero__title {
  margin: 0 0 1rem;
  font-size: 2.5rem;

  @media (min-width: $smallWidth) {
    font-size: 3.5rem;
  }
}

.heroBtn {
  width: 180px;
  height: 60px;
  background: $whiteColor;
  color: $blackColorSecond;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 60px;
  font-weight: 700;
  transition: background 0.5s;
  margin: 1rem 0;
}

.heroBtn:hover,
.heroBtn:focus {
  background: $lightBlueColor;
  background-image: url("../img/pixel.png");
  transition-delay: 0.8s;
  background-size: 180px;
  animation: btn 0.8s steps(8) forwards;
}