::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background: rgb(1,46,113);
  background: linear-gradient(180deg, rgba(1,46,113,1) 0%, rgba(22,157,153,1) 100%);
  border-radius: 6px;
}