// colors
$whiteColor: #F0F0F0;
$blackColor: #101010;
$blackColorSecond: #050505;
$pinkColor: #FA2DF3;
$blueColor: #012E71;
$lightBlueColor: #19B3AD;
$greenColor: #101818;

// width
$smallWidth: 576px;
$mediumWidth: 768px;
$largeWidth: 992px;